extends layout

block link
  -var selected = 'Home'
      
block content
  div(style='margin-left:10px;clear: left;')
    div(style='float:left; margin-right:5px;') Temperature 
    div(style='float:left')#living_temp 
  div(style='margin-left:10px;clear: left;')
    div(style='float:left; margin-right:5px;') Light 
    div(style='float:left')#living_light 
  div(style='margin-left:10px;clear: left;')
    div(style='float:left; margin-right:5px;') Battery 
    div(style='float:left')#living_battery 
block scripts
  script(src='/scripts/websocket.js')
